.bash_history*
downloads/
keys/
workspace/
working/
.var/
.viminfo/
backups/
Purdue_vault/
Awesome_vault_2/
.pki/
.pulse-cookie
.npm/
.mozilla/
.net/
.links/
.icons/
.gnupg/
build/
desktop/
images/
.cache/
.steampath
.steampid
.local/
.steam/
apps/
video/
.vim/

arch-notes/
assignment
assignment.tmp
backup.md
bookmarks.html
disc.md
disc.tmp
disc2.md
discussion
discussions
documents/
forteStrong.md
hyprland-notes/
pkglist.txt
vectoryInterview.txt

assignment
assignment.tmp
backup.md
bookmarks.html
disc.md
disc.tmp
disc2.md
discussion
discussions
documents/
forteStrong.md
hyprland-notes/
pkglist.txt
vectoryInterview.txt
.config/obsidian/
.config/libreoffice/
.config/libreoffice/
.config/chromium/
.config.backup/
.config/occt/
.config/.config/
.config/plasma-localerc
.config/nvim/
.config/zoom.conf
.config/zoomus.conf
.config/unity3d/
.config/UNIGINE/
.config/QtProject.conf/
.config/Epic/
