*
!.gitignore
# config files
!/.config/
!/.config/i3/
!/.config/i3status/
!/.config/i3/config
!/.config/i3status/config
!/.gitconfig

# vim files
!.vimrc
!.Xresources
!.scripts/
!.scripts/touchpad.sh
!.bashrc

# scripts
!/.scripts/3secondDisplay.sh
!/.scripts/alternating_layouts.py
!/.scripts/i3status_custom.sh
!/.scripts/reinstallScript.sh
!/.scripts/lock.sh
!/.scripts/secondDisplay.sh
